.App-Doctor {

    width: 30%;
    height: 24vh;
    /* border: solid gray .5px ; */
    border-radius: 10px;
    background-image: linear-gradient(to right bottom, #1976d2 30%, #2b7fd5, #3a88d8, #4890db, #5599dd, #70a3e1, #87ade4, #9bb8e8, #bac8ee, #d5d9f3, #ecebf9, #fef6ff 30%);
    -webkit-box-shadow: 0px 10px 6px -4px rgba(0,0,0,0.37);
    -moz-box-shadow: 0px 10px 6px -4px rgba(0,0,0,0.37);
    box-shadow: 0px 10px 6px -4px rgba(0,0,0,0.37);
    margin: 6px 0 6px 6px;
    padding-top: .2px;
}
    
    
    .photo{
    border-radius: 50%;
    border: solid 1px whitesmoke;
    width: 19%;
    height: 55%;
    margin-left:3%;
    margin-top: 3%;
    display: inline-block;
}

.Data-doctor {

    display: inline-block;

}

span {

    display: block;
    font-size: 9.5px;
    text-align: center;

}