.principal-content {
    display: flex;
    justify-content: center;
    width: 90vw;
    height: 40vh;
    background-color: #FEF6FF;
    border-radius: 2px;
    box-shadow: 0 1px 3px 2px gray;
    margin: 2% 5vw 2% 5vw;
    padding: 2%;
}

.specialties-content {
    /* width: 100%; */
    /* min-height: calc(100vh - 200px); */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.specialties-content h2 {
    font-family: 'Quicksand', sans-serif; /* Cambiar por otra fuente */
    color:#393a3a;
    font-weight: 500;
    font-size: 1.5rem;
    padding-bottom: 2%;
    text-align: center;
}

.specialties-content .specialties-dropdown {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 33vw;
    height: 10vh;
    /* box-shadow: 0 1px 3px 1px gray; */
}

.dropdown-menu {

}

.dropdown-item {
    
}

.buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 10vh;
}

.buttons .near {
    margin-right: 1.5vw;
    margin-left: 2vw;
    height: 7vh;
    border-radius: 3px;
    box-shadow: 0 1px 3px 1px gray;
    font-size: .85rem;
}

.buttons .quick {
    margin-right: 2vw;
    margin-left: 1.5vw;
    height: 7vh;
    border-radius: 3px;
    box-shadow: 0 1px 3px 1px gray;
    font-size: .85rem;
}