

.App-header {
/* background-color: #1fc5a9; */
background-image: linear-gradient(to bottom, #00b8de, #57c1df, #7ecbe1, #9ed4e3, #bbdde6);
height: 21vh;
display: block;
color: white;
word-wrap: break-word;
}




